<div class="flex overflow-hidden">
    <div class="flex animate-scroll hover:animation-paused">
        <div class="flex gap-5 pr-5">
        <div class="flex items-center justify-center w-80 h-40 bg-slate-50 rounded-xl">
            Hello! This is my messsage
        </div>
        <div class="flex items-center justify-center w-80 h-40  bg-slate-50 rounded-xl">
            Hello! This is my messsage
        </div>
        <div class="flex items-center justify-center w-80 h-40  bg-slate-50 rounded-xl">
            Hello! This is my messsage
        </div>
        <div class="flex items-center justify-center w-80 h-40  bg-slate-50 rounded-xl">
            Hello! This is my messsage
        </div>
        </div>
        <div class="flex gap-5 pr-5" aria-hidden="true">
        <div class="flex items-center justify-center w-80 h-40  bg-slate-50 rounded-xl">
            Hello! This is my messsage
        </div>
        <div class="flex items-center justify-center w-80 h-40  bg-slate-50 rounded-xl">
            Hello! This is my messsage
        </div>
        <div class="flex items-center justify-center w-80 h-40  bg-slate-50 rounded-xl">
            Hello! This is my messsage
        </div>
        <div class="flex items-center justify-center w-80 h-40  bg-slate-50 rounded-xl">
            Hello! This is my messsage
        </div>
        </div>
    </div>
</div>