<div class=" w-fit h-full inline-block gap-2 text-base text-slate-50 relative ">
    <div class="flex items-center justify-center w-fit h-full ">
        <button id="drop-btn" class="h-fit text-2xl bg-transparent border-none cursor-grab text-slate-50 font-bold"><%= user.username %></button>
    </div>
    <div id="dropdown" class="hidden w-50 h-fit flex-col absolute right-6 top-full"> 
        <a class="p-3 w-full h-fit block no-underline text-slate-50 hover:text-slate-300 cursor-grab bg-sky-700" href="/members-form">Become a Member!</a>
        <% if (member) { %>
            <a class="p-3 w-full h-fit block no-underline text-slate-50 hover:text-slate-300 bg-sky-700" href="/admin-form">Become an Admin!</a>
        <%} %>
        <a class="p-3 w-full h-fit block no-underline text-slate-50 hover:text-slate-300 bg-sky-700" href="/log-out">LOG OUT</a>
    </div>
</div>