<header class="sticky top-0 p-0 flex items-center justify-between h-15 w-full bg-slate-700">
    <a class="ml-2 flex items-center h-fit text-slate-50 no-underline text-base font-bold gap-1" href="/">  
    <img class="max-sm:h-12 max-sm:w-12 h-10 w-10" src="../icons/letter-m.png" alt="">
    <h1 class="max-md:hidden">Members Only</h1>
    </a>
    <%- include('./dropdown') %>
</header>
<script src="/js/script.js" defer></script>