<div class="m-0 p-0 flex items-center justify-around h-10 w-screen bg-green-500">
    <a class="text-lg no-underline bg-amber-900 text-white p-0.5 rounded-sm" href="/sign-up">Sign Up</a>
    <a class="text-lg no-underline bg-amber-900 text-white p-0.5 rounded-sm" href="">Home</a>
</div>