<div class="p-2 flex flex-col justify-between h-fit min-h-50 max-h-100 bg-slate-50 rounded-xl">
    <div class="flex flex-row items-center justify-start w-full h-fit gap-2 ">
        <div class="h-8 w-8 flex items-center justify-center bg-amber-400 bg-[url('/icons/letter-m.png')] bg-contain bg-no-repeat rounded-full"></div>
        <p><%= usernameArr[i]%></p>
    </div>
    <div class="flex items-start justify-center w-full h-full ">
        <p class="ml-5 mr-5 text-center line-clamp-3 "><%= typeof messages !== 'undefined' ? messages[i].message : 'This is a message' %></p>
    </div>
    <div class="flex justify-end"><%= time %> days ago</div>
</div>