<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body class="bg-purple-200 m-0 p-0">
  <div class="m-0 p-0 grid grid-rows-[1fr_auto] gap-0 bg-purple-500 h-screen">
    <% if (locals.user) {%>
      <div>
        <h1 class="text-green-400">WELCOME BACK <%= user.username %></h1>
        <a href="/message">new message!</a>
        <a href="/members-form">Become a member!</a>
        <a href="/log-out">LOG OUT</a>
      </div>
    <% } else { %>
      <div class="max-md:flex-col max-md:h-[200vh] m-0 p-0 flex items-start justify-center h-screen bg-[url('/images/blue-bg.svg')] bg-cover">
        <div class= "max-md:h-full flex-1 grid grid-rows-3 h-full w-full place-items-center">
          <div class="flex flex-col items-center justify-center h-full z-2">
            <h1 class="max-sm:text-4xl text-5xl text-slate-50 ">Members Only Club</h1>
            <h2 class="max-sm:text-2xl text-3xl text-slate-50 ">Become a member today!</h2>          
          </div>
          <div class=" w-50 h-50 flex justify-center items-center rounded-full bg-linear-to-t from-cyan-50 to-sky-200 bottom-0 bg-[url('/icons/letter-m.png')] bg-contain"></div>
          <div class="flex flex-col items-center justify-center gap-8 ">
            <a class="max-sm:w-60 max-sm:h-12 max-sm:text-xl flex justify-center items-center text-xl text-white bg-sky-950 no-underline w-80 h-15 rounded-xl" href="/log-in">Log In</a>
            <a class="max-sm:w-60 max-sm:h-12 max-sm:text-xl flex justify-center items-center text-xl text-slate-950 bg-slate-50 border-2 border-sky-800 no-underline  w-80 h-15 rounded-xl" href="/sign-up">Register</a>
          </div>
        </div>
        <div class="max-md:h-screen flex-1 grid grid-cols-1 place-items-center overflow-hidden h-full w-full gap-5">
          <div class="flex w-full h-20 items-center justify-center text-3xl text-slate-50">See what members are saying!</div>
          <%- include('./partials/carousel-rev')%>
        </div>
      </div>
      <div class="bg-green-950 h-14 flex items-center justify-center text-white">FOOTER</div>
    <%}%>
  </div>

</body>
</html>