<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body class="m-0 p-0">
    <div class="flex flex-col w-full h-screen bg-[url('/images/blue-bg.svg')] bg-cover">
        <header class="mt-5 p-0 flex items-center justify-center h-20">
            <a class="flex items-center h-fit text-slate-50 no-underline text-4xl font-bold gap-5" href="/">
                <img class="max-sm:h-12 max-sm:w-12 h-20 w-20" src="../icons/letter-m.png" alt="">
                <h1 class="max-sm:text-3xl text-5xl">Members Only</h1>
            </a>
        </header>
        <div class="mt-5 flex justify-center items-center">
            <div class="p-5 h-fit w-fit flex flex-col items-center justify-center rounded-2xl border-2 border-gray-500 bg-slate-100 text-slate-950 font-[arial]">  
                <h1 class="m-0 mb-6 p-0 text-2xl">Log in</h1>
                <form class="max-sm:gap-2 h-fit w-fit flex flex-col items-center justify-center gap-4" action="/log-in" method="POST">
                    <div class="p-1 w-fit flex flex-col items-start justify-items-center h-fit gap-1">
                        <label class="max-sm:text-sm" for="username">Username</label>
                        <input class="max-sm:w-55 max-sm:text-sm pl-2 w-70 h-10 placeholder:text-slate-400 text-lg bg-slate-300 text-slate-950" id="username" name="username" placeholder="Username" type="text" autocomplete="off" required/>
                    </div>
                    <div class="p-1 w-fit flex flex-col items-start justify-items-center h-fit gap-1">
                        <label class="max-sm:text-sm" for="password">Password</label>
                        <input class="max-sm:w-55 max-sm:text-sm pl-2 w-70 h-10 text-lg placeholder:text-slate-400 bg-slate-300 text-slate-950" id="password" name="password" placeholder="Password" type="password" required/>
                    </div>
                    <div class="p-1 w-fit flex flex-col items-start justify-items-center h-fit gap-1">
                        <label class="max-sm:text-sm" for="confirm-password">Confirm Password</label>
                        <input class="max-sm:w-55 max-sm:text-sm pl-2 w-70 h-10 text-lg placeholder:text-slate-400 bg-slate-300 text-slate-950" id="confirm-password" name="confirm-password" placeholder="Confirm password" type="password" required>
                    </div>
                    <button class="p-0 max-sm:w-60 max-sm:h-12 mt-5 w-75 h-15 rounded-2xl text-lg text-slate-50 border-none bg-sky-800 cursor-grab" type="submit">Log In</button>
                </form>
                <div class="mt-10 flex items-center justify-center">Don't have an account?</div>
                <a class="mt-2 p-0 max-sm:w-59 max-sm:h-11 w-74 h-14 flex items-center justify-center no-underline text-lg rounded-2xl border-2 text-slate-950 bg-slate-50 border-sky-800 cursor-grab font-[arial]" href="/sign-up">Sign Up</a>
            </div>
        </div>
    </div>
    <%- include('./partials/footer')%>
</body>
</html>