<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body>
    <a href="/">Home</a>
    <h1>Sign In</h1>
    <form class=" flex-wrap bg-yellow-400 m-0 p-0 max-h-40 flex items-center justify-center" action="/log-in" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <label for="confirm-password">Confirm Password:</label>
        <input id="confirm-password" name="confirm-password" type="password">
        <button type="submit">Log In</button>
    </form>
</body>
</html>