<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header')%>
<body>
  <h1>Sign Up</h1>
  <form action="/sign-up" method="POST">
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="username" type="text" autocomplete="off" required/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required/>
         <label for="confirm-password">Confirm Password:</label>
      <input id="confirm-password" name="confirm-password" type="password">
    <label for="first-name">First Name</label>
    <input id="first-name" name="first-name" placeholder="John" type="text" autocomplete="off" required/>
        <label for="last-name">Last Name</label>
    <input id="last-name" name="last-name" placeholder="Smith" type="text" autocomplete="off"required/>
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>