<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Members Form</h1>
  <h2>Enter the secret member code to join!</h2>
  <form action="/new-message" method="POST">
    <label for="secret-code">Secret Code</label>
    <input id="secret-code" name="secret-code" type="text" autocomplete="off"/>
    <button type="submit">Enter</button>
  </form>
</body>
</html>