@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@source "../views/**/*.ejs";

/* .container {
  margin-inline: auto;
} */
@theme {
  --breakpoint-md: 56rem;
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  --animate-scroll: scroll 20s infinite linear;
}

@utility animation-paused {
  animation-play-state: paused;
}

@layer base {
  input {
    border: transparent;
    outline: none;
  }
  input:focus {
    border: transparent;
    box-shadow: none;
  }
}
