@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@source "../views/**/*.ejs";

* {
  margin: 0;
  padding: 0;
}

.container {
  margin-inline: auto;
}
